body {
  font-family: sans-serif;
  font-size: 14px;
}

figcaption {
  text-align: center;
  font-size: 17px;
  padding: 10px;
  font-weight: bold;
}

h1 {
  color: #FFCC33;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
}

div {
  transition: transform 0.2s ease-out;
}

.message {
  padding: 5px;
  text-shadow: 1px 1px 1px #000;
  background-color: #FFCC33;
  color: #fff;
}

.columns__item {
  float: left;
  margin-right: 20px;
  border: 2px solid white;
}

.moving {
  opacity: 0.25;
  transform: scale(0.8);
}

.hover {
  border: 2px dashed #FFCC33;
}
